﻿@{
    ViewBag.Title = "Home Page";
    var userInfo = System.Web.HttpContext.Current.Session["UserInfo"] as CHAITool.Models.UserInfoBO;
}
<style>
    ul {
        background: #cce5ff;
        padding: 30px;
    }

        ul li {
            background: #cce5ff;
            margin: 5px;
        }
</style>
<div class="menubar">
    @*<form id="uploader" method="post" action="@Url.Action("UploadFile", "Home")" style="max-width: 900px" enctype="multipart/form-data">
            <input id="myFile" type="file" name="PostedFile" />
            <input id="inputTinh" type="submit" value="Upload" />
        </form>*@
    @*Vì khi submit bằng form thì sẽ return về trang khác, không đứng yên được ở trang hiện tại, nên ta dùng button*@
    <div style="width:350px">
        <ul>
            <li>
                <input id="myFile" type="file" name="PostedFile" />
            </li>
            <li>
                <input id="btnUpl" type="button" value="Upload" />
            </li>
        </ul>
    </div>
    <div style="width:350px">
        <ul>
            <li>
                <input id="fileChoose" type="file" name="PostedFile" />
            </li>
            @*<li>
                    <input id="btnValH" type="button" value="Hien thi Huyen validated" />
                </li>*@
            <li>
                <input id="btnVal" type="button" value="Validated" />
            </li>
        </ul>
    </div>

</div>
<p id="ThongBao">@ViewBag.ThongBao</p>

<div id="DataValidate">

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    document.getElementById('btnVal').onclick = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileChoose');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/HienThiXaValidate');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#DataValidate').empty().append(xhr.responseText);
            }
        }
    };
    document.getElementById('btnUpl').onclick = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('myFile');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/UploadFile');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
            }
        }
        return false;
    };
</script>
