﻿@model List<CHAITool.Models.ModelXa>
<style>
    h1{
        text-align:center;
    }
    td, th {
        border: 1px solid #808080;
        text-align: center;
        vertical-align: middle;
    }
    table {
        table-layout: fixed;
        width: 150%;
        border: 1px solid #000000;
    }

    td {
        border: 1px solid #808080;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .error{
        border: 1px solid red;
    }
</style>
<h1>Bảng thống kê</h1>
<table>
    <thead>
        <tr>
            <th>Tỉnh</th>
            <th>Huyện</th>
            <th>Xã</th>
            <th>Tháng báo cáo</th>
            <th>Tình trạng báo cáo</th>
            <th>Tổng số bệnh nhận sốt rét có ký sinh trùng</th>
            <th>P.f</th>
            <th>P.v</th>
            <th>P.m</th>
            <th>Phối hợp</th>
            <th>Bệnh nhân sốt rét ác tính</th>
            <th>Ký sinh trùng nội địa</th>
            <th>Xét nghiệm lam</th>
            <th>Xét nghiệm test chẩn đoán nhanh</th>
            <th>Tổng số xét nghiệm lam và tét chẩn đoán nhanh</th>
            <th>Ghi chú nếu có</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (@item.GhiChu != null)
                {
                    <tr style="color:#ff0000">
                        <td>@item.Tinh</td>
                        <td>@item.Huyen</td>
                        <td>@item.Xa</td>
                        <td>@item.ThangBC</td>
                        <td>@item.TinhTrangBC</td>
                        <td>@item.TongBNSRCKST</td>
                        <td>@item.pf</td>
                        <td>@item.pv</td>
                        <td>@item.pm</td>
                        <td>@item.PhoiHop</td>
                        <td>@item.BNSotRetActinh</td>
                        <td>@item.KysinhtrungND</td>
                        <td>@item.XetNL</td>
                        <td>@item.XetNghiemTetCDN</td>
                        <td>@item.TongXetNghiemLamVaTCDN</td>
                        <td id="ghiChu">@item.GhiChu</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.Tinh</td>
                        <td>@item.Huyen</td>
                        <td>@item.Xa</td>
                        <td>@item.ThangBC</td>
                        <td>@item.TinhTrangBC</td>
                        <td>@item.TongBNSRCKST</td>
                        <td>@item.pf</td>
                        <td>@item.pv</td>
                        <td>@item.pm</td>
                        <td>@item.PhoiHop</td>
                        <td>@item.BNSotRetActinh</td>
                        <td>@item.KysinhtrungND</td>
                        <td>@item.XetNL</td>
                        <td>@item.XetNghiemTetCDN</td>
                        <td>@item.TongXetNghiemLamVaTCDN</td>
                        <td id="ghiChu">@item.GhiChu</td>
                    </tr>
                }
            }
        }
    </tbody>

</table>